form > * + * {
  margin-top: 1em;
}

app-validated-control {
  display: block;
}

.show-run-container {
  display: flex;

  > * {
    flex: 1 0 auto;
  }

  > * + * {
    margin-left: 1em;
  }
}

.description-label-container {
  display: flex;

  > * {
    flex: 0 0 auto;
  }

  > * + * {
    margin-left: 0.5em;
  }
}
