<h1>Validation Sandbox</h1>
<form [formGroup]="sandboxFormGroup" (ngSubmit)="onSubmit()">
  <app-validated-control label="Name">
    <input
      type="text"
      class="form-control"
      formControlName="name"
    />
  </app-validated-control>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Form Group Validation Props</h2>
<p>
  Status: {{ sandboxFormGroup.status }}<br />
  Value: {{ sandboxFormGroup.value | json }}<br />
  Errors: {{ sandboxFormGroup.errors | json }}<br />
  Touched: {{ sandboxFormGroup.touched }}<br />
  Dirty: {{ sandboxFormGroup.dirty }}<br />
</p>
