<h1>Validation Sandbox</h1>
<form [formGroup]="formService.formGroup" (ngSubmit)="onSubmit()">
  <app-validated-control label="Name" labelFor="name">
    <input kendoTextBox formControlName="name" id="name" />
  </app-validated-control>

  <app-validated-control label="Animation Type">
    <label class="k-radio-label"
      ><input type="radio" class="k-radio" formControlName="animationType" value="cartoon" />
      Cartoon</label
    >
    <label class="k-radio-label"
      ><input type="radio" class="k-radio" formControlName="animationType" value="anime" />
      Anime</label
    >
    <button kendoButton style="margin-left: 1em" (click)="deselectAnimationType()" type="button">
      Deselect Animation Type
    </button>
  </app-validated-control>

  <app-validated-control label="First Air Date">
    <kendo-datepicker formControlName="firstAirDate"></kendo-datepicker>
    <button type="button" (click)="setFirstAirDateToToday()" kendoButton>Today</button>
  </app-validated-control>

  <app-validated-control
    label="Total Seasons To Date"
    [customValidationMessages]="seasonErrorMessages"
  >
    <kendo-numerictextbox formControlName="totalSeasonsToDate" format="#"></kendo-numerictextbox>
  </app-validated-control>

  <app-validated-control label="Show Description" labelFor="show-description">
    <textarea kendoTextArea formControlName="description" id="show-description"></textarea>
  </app-validated-control>

  <p>Scenario: Nested components and form composition</p>

  <p>Scenario: A checkbox, when checked, enables and requires a text box in a nested form group</p>
  <p>
    Scenario: A checkbox, when checked, enables and requires a text box somewhere else in the form
    that is not in a nested form group together
  </p>
  <p>Scenario: A required dropdown list</p>
  <p>Scenario: A required Kendo dropdown list</p>
  <p>Scenario: A textbox with required, minlength, email, maxlength--in that order</p>
  <p>
    Scenario: A group of inputs where a specific combination is required. All are invalid, but there
    should be only one validation message below them.
  </p>

  <button type="submit" kendoButton [primary]="true">Submit</button>
</form>

<h2>Form Group Validation Props</h2>
<p *ngIf="formGroup">
  Status: {{ formGroup.status }}<br />
  Value: {{ formGroup.value | json }}<br />
  Errors: {{ formGroup.errors | json }}<br />
  Touched: {{ formGroup.touched }}<br />
  Dirty: {{ formGroup.dirty }}<br />
</p>
