<ng-container [formGroup]="formGroup">
  <app-validated-control label="First Air Date">
    <kendo-datepicker formControlName="firstAirDate"></kendo-datepicker>
    <button type="button" (click)="setFirstAirDateToToday()" kendoButton>Today</button>
  </app-validated-control>

  <app-validated-control
    label="Total Seasons To Date"
    [customValidationMessages]="seasonErrorMessages"
  >
    <kendo-numerictextbox formControlName="totalSeasonsToDate" format="#"></kendo-numerictextbox>
  </app-validated-control>
</ng-container>
