<div class="validated-control-container" [class.invalid]="showError">
  <div *ngIf="useLabelAndErrorIconProps">
    <label class="validated-control-label" *ngIf="includeDefaultLabel" [for]="labelFor">{{
      label
    }}</label>
    <ng-container *ngIf="useLabelAndErrorIconProps">
      <fa-icon [icon]="faExclamationCircle" class="validation-error" *ngIf="showError"></fa-icon>
    </ng-container>
  </div>
  <ng-content></ng-content>
  <div *ngIf="showError" class="validation-error-message">
    {{ errorMessage }}
  </div>
</div>
