/* You can add global styles to this file, and also import other style files */
// Variables
$ultra-dark-gray: #343435;
$magenta: #c8154f;
$magenta-box-shadow: rgba(200, 21, 79, 0.25);

// Core styles; TODO: move to own module

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

:root,
body {
  color: $ultra-dark-gray;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.semi-bold,
label {
  font-weight: 600;
}

label {
  margin-bottom: 0;
}

main {
  max-width: 1300px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-block-start: 0;
}

textarea {
  width: 100%;
  min-height: 5em;
  resize: none;
}

// Validation styles; TODO: move to own module
.vf-validation-error-message {
  color: $magenta;
}

fa-icon.vf-error-icon {
  @extend .vf-validation-error-message;
  margin-left: 0.5em;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-color: $magenta;
}

.vf-validated-control-container {
  input.vf-validation-error:focus,
  input.ng-invalid.ng-touched:focus,
  textarea.vf-validation-error:focus,
  textarea.ng-invalid.ng-touched:focus {
    border-color: $magenta;
  }
}

// Kendo-specific styles
label.k-radio-label {
  font-weight: normal;
  margin-left: 1em;
}

.k-textarea {
  @extend textarea;
}

.k-textbox.ng-invalid.ng-touched,
.k-textbox.ng-invalid.ng-dirty,
.k-textarea.ng-invalid.ng-touched,
.k-textarea.ng-invalid.ng-dirty {
  color: $ultra-dark-gray;
  border-color: rgba(0, 0, 0, 0.08); // just putting it back to what it was
}

.invalid .k-textbox.ng-invalid.ng-touched,
.invalid .k-textbox.ng-invalid.ng-dirty,
.invalid .k-textarea.ng-invalid.ng-touched,
.invalid .k-textarea.ng-invalid.ng-dirty {
  border-color: $magenta;
}

.k-widget.k-state-invalid>.k-numeric-wrap, .ng-invalid.ng-touched>.k-numeric-wrap, .ng-invalid.ng-dirty>.k-numeric-wrap {
  border-color: $magenta;
  color: $ultra-dark-gray;
}
