/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

// Core styles; TODO: move to own module
.semi-bold, label {
  font-weight: 600;
}

label {
  margin-bottom: 0;
}

// Variables; TODO: move to own module
$magenta: #C8154F;
$magenta-box-shadow: rgba(200, 21, 79, 0.25);

// Validation styles; TODO: move to own module
.validation-error-message {
  color: $magenta;
}

fa-icon.validation-error {
  color: $magenta;
  margin-left: 0.5em;
}

input.validation-error, input.ng-invalid.ng-touched {
  border-color: $magenta;
}

// Bootstrap-specific
.form-group input.form-control.validation-error:focus, input.ng-invalid.ng-touched:focus {
  border-color: $magenta;
  box-shadow: 0 0 0 0.2rem $magenta-box-shadow;
}
