/* You can add global styles to this file, and also import other style files */
// Core styles; TODO: move to own module
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.semi-bold,
label {
  font-weight: 600;
}

label {
  margin-bottom: 0;
}

main {
  max-width: 1300px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-block-start: 0;
}

// Variables; TODO: move to own module
$magenta: #c8154f;
$magenta-box-shadow: rgba(200, 21, 79, 0.25);

// Validation styles; TODO: move to own module
.validation-error-message {
  color: $magenta;
}

fa-icon.validation-error {
  color: $magenta;
  margin-left: 0.5em;
}

input.validation-error,
input.ng-invalid.ng-touched {
  border-color: $magenta;
}

// Bootstrap-specific
.validated-control-container input.validation-error:focus,
input.ng-invalid.ng-touched:focus {
  border-color: $magenta;
  box-shadow: 0 0 0 0.2rem $magenta-box-shadow;
}
